<ion-header [translucent]="true">
  <!-- <ion-toolbar color="dark" (click)="cargar_pagina_menu();">
    <ion-title class="ion-text-center" >
    </ion-title>
  </ion-toolbar > -->
</ion-header>

<!-- <img src="../../../src/assets/img/Japan-PNG-Isolated-Photos.png" alt="" srcset=""> -->

<ion-content class="background-image" no-scroll padding (click)="cargar_pagina_menu();">

  <img src="../../assets/img/Japan-PNG-Isolated-Photos.png" alt="" srcset="" class="center">
  <ion-text color="light" class="ion-text-center">
    <h1>日本料理屋</h1>
  </ion-text> 
  <ion-text color="light" class="ion-text-center">
    <h5>JAPANESE RESTAURANT</h5>
  </ion-text>
  <ion-text color="light" class="ion-text-center">
    <h5>MARTIN JOAQUIN AGUILAR MUÑOZ ISW18</h5>
  </ion-text>
  <br>
  <br>
  <div class="botonrojo">
    <br>
  </div>
  <br>
  <!-- <div class="ion-text-center">
    <ion-button color="light" (click)="cargar_pagina_menu();"> 
      <b>SEE MENU</b>
    </ion-button>
  </div> -->

</ion-content>





