#container {

  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


ion-button{
   --background: black;
}

.fondos2{
  --background: red;
}

ion-content{
  --background: #000;
}


.fondos{
  --background: #000;
}

.divmenu{
  background-color: red;
  pad: 1em;
  width: 45%;
  height: 50%;

}


#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  
  color: #8c8c8c;
  
  margin: 0;
}

#container a {
  
  text-decoration: none;
}
/*
.boton{
  position:relative;
  top: 80px;
  left: 145px;
}
*/


